<p id="notice"><%= notice %></p>

<p>
  <strong>Id news:</strong>
  <%= @comment.id_news %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @comment.id_user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comment.description %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
