<p id="notice"><%= notice %></p>

<p>
  <strong>Id community:</strong>
  <%= @event.id_community %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Dateevent:</strong>
  <%= @event.dateEvent %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @event.photo %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @event.approved %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
