<p id="notice"><%= notice %></p>

<p>
  <strong>Id community:</strong>
  <%= @request.id_community %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @request.id_user %>
</p>

<p>
  <strong>Seen:</strong>
  <%= @request.seen %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
