<%= form_for(chat) do |f| %>
  <% if chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
      <% chat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_community %>
    <%= f.number_field :id_community %>
  </div>

  <div class="field">
    <%= f.label :is_group %>
    <%= f.check_box :is_group %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
