<p id="notice"><%= notice %></p>

<p>
  <strong>Id community:</strong>
  <%= @chat.id_community %>
</p>

<p>
  <strong>Is group:</strong>
  <%= @chat.is_group %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
