<p id="notice"><%= notice %></p>

<p>
  <strong>Id user:</strong>
  <%= @device_token.id_user %>
</p>

<p>
  <strong>Token:</strong>
  <%= @device_token.token %>
</p>

<%= link_to 'Edit', edit_device_token_path(@device_token) %> |
<%= link_to 'Back', device_tokens_path %>
